In [129]:
import os
import json

from tqdm import tqdm
import ast

import numpy as np
import pandas as pd

In [7]:
train = pd.read_csv('data/train.csv')

In [43]:
train.head(3)

,date,nextDayPlayerEngagement,games,rosters,playerBoxScores,teamBoxScores,transactions,standings,awards,events,playerTwitterFollowers,teamTwitterFollowers
0,20180101,"[{""engagementMetricsDate"":""2018-01-02"",""player...",NaN,"[{""playerId"":400121,""gameDate"":""2018-01-01"",""t...",NaN,NaN,"[{""transactionId"":340732,""playerId"":547348,""pl...",NaN,NaN,NaN,"[{""date"":""2018-01-01"",""playerId"":545361,""playe...","[{""date"":""2018-01-01"",""teamId"":147,""teamName"":..."
1,20180102,"[{""engagementMetricsDate"":""2018-01-03"",""player...",NaN,"[{""playerId"":134181,""gameDate"":""2018-01-02"",""t...",NaN,NaN,"[{""transactionId"":339458,""playerId"":621173,""pl...",NaN,NaN,NaN,NaN,NaN
2,20180103,"[{""engagementMetricsDate"":""2018-01-04"",""player...",NaN,"[{""playerId"":425492,""gameDate"":""2018-01-03"",""t...",NaN,NaN,"[{""transactionId"":347527,""playerId"":572389,""pl...",NaN,NaN,NaN,NaN,NaN

In [ ]:
pbar = ProgressBar()

In [130]:
def parse_json(column_to_parse):
    for col in column_to_parse:
        print(f"Parse columns {col}")
        target_df = pd.DataFrame()
        target_df['date'] = train['date']
        for i in range(train.shape[0]):
            cell = train.iloc[i][col]
            if cell is not None:
                # If a cell is not None make list
                try:
                    value = ast.literal_eval(cell)
                except ValueError:
                    continue
                for k, v in enumerate(value):
                    prefix_col = f'{col}_{k}'

                    for key, value in v.items():
                        new_col = f'{prefix_col}_{key}'
                        if new_col not in target_df.columns:
                            train[new_col] = None
                        target_df.at[i, new_col] = value
            # Save to csv
        target_df.to_csv('data/'+ col + '.csv')
        print(target_df.shape)
    return target_df.head(5)

In [136]:
# for col in column_to_parse:
#     print(f"Parse columns {col}")
#     target_df = pd.DataFrame()
#     target_df['date'] = train['date']
#     for i in range(train.shape[0]):
#         cell = train.iloc[i][col]
#         if cell is not None:
#             # If a cell is not None make list
#             try:
#                 value = ast.literal_eval(cell)
#             except ValueError:
#                 continue
#             for k, v in enumerate(value):
#                 prefix_col = f'{col}_{k}'

#                 for key, value in v.items():
#                     new_col = f'{prefix_col}_{key}'
#                     if new_col not in target_df.columns:
#                         train[new_col] = None
#                     target_df.at[i, new_col] = value
#             # Save to csv
#     target_df.to_csv('data/features/'+ col + '.csv')

Parse columns transactions

In [137]:
target_df.head()

,date,transactions_0_transactionId,transactions_0_playerId,transactions_0_playerName,transactions_0_date,transactions_0_fromTeamId,transactions_0_fromTeamName,transactions_0_toTeamId,transactions_0_toTeamName,transactions_0_effectiveDate,transactions_0_resolutionDate,transactions_0_typeCode,transactions_0_typeDesc,transactions_0_description
0,20180101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20180102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20180103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20180104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20180105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for column in tqdm(train.drop('date', axis=1).columns):
    column_to_parse = [column]
    parse_json(column_to_parse)

  0%|          | 0/23487 [00:00<?, ?it/s]
  0%|          | 0/1 [00:00<?, ?it/s]

Parse columns nextDayPlayerEngagement